#game_div{
     text-align: center;
 }
 #orange_box{
   background-color: #cb630a;
   margin-top: 50px;
   margin-left: 320px;
   border-left-width: 60px;
   border-right-width: 60px;
   border-bottom-width: 60px;
   border-color: #010101;
   border-style: solid;
   width: 500px;
   height: 560px;
 }
 #black_box{
   background-color: #000000;
   text-align: center;
 }

 #frogger-title{
   width: 380px;
   height: 50px;
 }

#panel{
  background-color: #cb630a;
  font: 14pt arial;
  color: #004c00;
}
 .rules {
     padding: 5px;
     background-color: #cb630a;
     font: 16pt arial;
     color: #128138;
     height: 24px;
 }

.position{
  margin-top: 70px;
  text-align: center;
}

.position1{
  margin-top: 50px;
  text-align: center;
}

.img1,.img2{
  display:none;
  height: 22px;
}

.position:hover .img1{
display: inline;
}

.position1:hover .img2{
  display: inline;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.text1{
  margin-top: 30px;
  padding: 10px;
  color: #006600;
  font: 16px arial;
  font-weight: bold;
  height:70px;
}

.text2{
  text-align: left;
  font: 12px arial;
}

 .rules:hover {
   cursor: pointer;
   font: bold 18pt arial;
   color:#ffa500;
 }

 #panel {
     padding: 50px;
     display: none;
 }

 canvas {
     background-color: #cb630a;
     padding: 5px;
     margin: 10px;
     border-width: 60px;
     border-color: #010101;
     border-style: solid;
 }

 body {
     background-color: #128138;
     overflow-y: hidden;
     overflow-x: hidden;
 }
